.custom-container .custom-border {
  border-color: #121518;
  border-radius: 20px;
  background-color: rgba(169, 195, 235, 0.2) !important;
}

.container-lg {
  max-width: 450px;
}

.form-control {
  font-size: 1rem;
}

.container-for-login-button .custom-login-button {
  max-width: 150px;
}

.login-form .custom-login-button {
  border: none;
  color: "#333333 ";
  padding: 10px 20px;
  border: 2px solid #ffffff;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgba(233, 239, 249, 0.04);
}

.login-form .custom-login-button:hover {
  color: "#333333";
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid #ffffff;
  transition: all 0.3s ease;
}
